<!--footer class="footer">
  <small>
    The ExamMonster
    by <a href="https://www.freelancer.com/u/vw7331555vw">Neeraj Singh</a>
  </small>
  <nav>
    <ul>
      <li><%#= link_to "About",   static_pages_about_path %></li>
      <li><%#= link_to "Contact", static_pages_contact_path %></li>
    </ul>
  </nav>
</footer-->
